
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  width: 100%;
  height: 52px;
  background-color: #b20099;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ba528f;
  color: black;
}

.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 210px;
  color:#201023;
  background-color:#dec6df;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #873677;

  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ba528f;
}

.topnav  .ctgrs {
  position: relative;
  display: inline-block;
}


.topnav .ctgrs .ctgrs-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 55px;
  right: 0;
  left: 0;
  text-align: left;
}
.topnav .ctgrs .ctgrs-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}
.topnav .ctgrs .ctgrs-content a:hover {
    background-color: #f1f1f1
}

.topnav .ctgrs:hover .ctgrs-content {
  display: block;
}

.main {
  position: absolute;
  width: 500px;
  height: 200px;
  z-index: 15;
  top: 36%;
  left: 33%;
  margin: -100px 0 0 -150px;
  text-align: center;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: RoyalBlue;
} 
.thanku {
    font-size: 20px;
}

.topnav .myProfile {
    position: relative;
    float: right;
   display:inline;
    
}

.topnav .myprofile button {
    float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #873677;

  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .myprofile button:hover{
    color:#ba528f;
}
.topnav .myProfile .profileOptions {
    display: none;
    margin: 0 0 0 -260px;
    padding-top: 10px;
    height: 280px;
    width: 350px;

}

.topnav .myProfile .profileOptions form {
    width: 250px;
}

.topnav .myProfile .profileOptions form fieldset legend {
    font-size: 14pt;
    background-color: #dec6df;
}


.topnav .myProfile .profileOptions form fieldset p label {
    font-size: 14pt;
}

.topnav .myProfile .profileOptions form fieldset p input {
    
    width: 200px;
    height: 25px;
    font-size: 12pt;
}

#password {
    margin-left: 13px;
    width: 200px;
    height: 25px;
    font-size: 12pt;
}

#logIn {
    width: 75px;
    height: 30px;
    margin-left: 75px;
    margin-right: auto;
}

#register {
    width: 75px;
    height: 30px;
    margin-left: 25px;
    margin-right: auto;
}

.topnav .myProfile .profileOptions a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.1);
}

.topnav .myProfile .profileOptions a:hover {
    background-color: #5f94dc;
    color: #000000;
}

.topnav .myProfile:hover .profileOptions {
    display: block;
}