/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Nov 2020, 12:20:22
    Author     : joel
*/


/* Websites for dividing screen into 2 parts
   https://css-tricks.com/snippets/css/clear-fix/
   https://css-tricks.com/left-and-right/  */

/* Website for positioning blocks
   https://www.w3schools.com/cssref/pr_pos_right.asp (also left property)*/

/* Format header section of html */
header {
    background-color: #270A5E; /* Background color of th erectangle */
    width: 98%; /* Rectangle width - 98% to respect footer margins */
    height: 150px; /* Rectangle height - per points more accurate height */
    border: 5px solid #8B219E;
    /* center the header */
    margin-right: auto;
    margin-left: auto;
}

/* Format the paragraph inside of the header */
header p {
    color: #FAFAFA; /* Color of the text */
    font-family: 'Source Sans Pro', sans-serif;  /* Type of font - it has been declared in html file */
    text-align: left; /* Where is the text found */
    font-size: 11pt; /* Size of the font */
    margin-left: 35px; /* margin with left of the header screen */
    margin-bottom: 6px; /* margin with the title inside of the header */
    margin-top: 50px; /* margin with the top of the header rectangle */
}

/* Format the title inside of the header -- it is relate to the format of the paragraph above*/
header h1 {
    color: #FAFAFA; /* Color of the text */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
    text-align: left; /* Where is the text found */
    margin-top: 6px; /* margin with the paragraph on top inside the header */
    margin-left: 35px; /* margin with left of the header screen */
    font-size: 30pt; /* Size of the font */
}

.eventDetails {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px solid black;
    min-height: 350px;
    max-width: 95%;
}

#eventGraph {
    float: left; /*Locate the section on the left*/
    width: 50%; /*Stablish the section to 50% of footer width*/
    height: 100%; /*Stablish heigth to 100% of footer window*/
}

#eventGraph img {
    width: 70%;
    height: 60%;
    min-height: 80px;
    min-width: 80px;
    display: block; /*Define the imagine is a whole pack*/
    margin-left: auto; /*Make sure image is centered - css does the calculation*/
    margin-right: 130px; /*Make sure image is centered - css does the calculation*/
    margin-top: 10px;
    margin-bottom: 15px;
}

#eventDescription {
    float: left; /*Locate the section on the left*/
    width: 47%; /*Stablish the section to 50% of footer width*/
    height: 100%; /*Stablish heigth to 100% of footer window*/
}

#eventDescription h1 {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 18pt; /* Size of the font */
    text-align: left; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
}

#eventDescription p {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12pt; /* Size of the font */
    text-align: justify; /* Where is the text found */
    font-family: 'Source Sans Pro', sans-serif;  /* Type of font - it has been declared in html file */
    line-height: 1.7;
}

.eventTicket {
    clear: both;
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    min-height: 200px;
    border-top: 1pt solid;
}

.eventTicket h1 {
    margin-left: 10px;
    font-size: 18pt; /* Size of the font */
    text-align: left; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
}

.eventDate {
    margin-left: 10px;
    float: left; /*Locate the section on the left*/
    width: 13%; /*Stablish the section to 50% of footer width*/
    height: 125px; /*Stablish heigth to 100% of footer window*/
    border-top: 1pt solid;
    border-bottom: 1pt solid;
    border-left: 1pt solid;
}

.eventDate p#eventMonth {
    margin-left: 10px;
    font-size: 12pt; /* Size of the font */
    text-align: center; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
    height: 33%;
    margin-top: 10px;
    margin-bottom: 0;
}

.eventDate p {
    margin-left: 10px;
    font-size: 12pt; /* Size of the font */
    text-align: center; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
    height: 33%;
    margin-top: 0;
    margin-bottom: 0;
}

.eventLocation {
    float: left; /*Locate the section on the left*/
    width: 50%; /*Stablish the section to 50% of footer width*/
    height: 125px; /*Stablish heigth to 100% of footer window*/
    border-top: 1pt solid;
    border-bottom: 1pt solid;
}

.eventLocation p#eventTime {
    margin-left: 10px;
    font-size: 12pt; /* Size of the font */
    text-align: left; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
    height: 33%;
    margin-top: 10px;
    margin-bottom: 0;
}

.eventLocation p {
    margin-left: 10px;
    font-size: 12pt; /* Size of the font */
    text-align: left; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
    height: 33%;
    margin-top: 0;
    margin-bottom: 0;
}

.eventLocation p#eventPlace {
    margin-left: 10px;
    font-size: 12pt; /* Size of the font */
    text-align: left; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
    font-weight: bold;
    line-height: 1;
    height: 33%;
    margin-top: 0;
    margin-bottom: 0;
}

/*https://www.javatpoint.com/how-to-center-a-button-in-css*/

.goToTickets {
    float: left; /*Locate the section on the left*/
    width: 24%; /*Stablish the section to 50% of footer width*/
    height: 125px; /*Stablish heigth to 100% of footer window*/
    border-top: 1pt solid;
    border-bottom: 1pt solid;
    border-right: 1pt solid;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

#ticketbtn {
    font-size: 14px;
    font-family: "Source Sans", sans-serif;
    font-weight: bold;
    background-color: white;
    border: 1pt solid;
    border-radius: 10px;
    padding: 20px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

#ticketAccess{
    border: none;
    font-size: 16px;
    font-family: "Source Sans Pro Black", sans-serif;
    width: 160px;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    resize: none;
    color: red;
    font-weight: bold;
    cursor: default;
}

#ticketAccess:focus {
   outline: none;
}

    