/*

Styling file for the navigation bar

*/

body {
    margin: 0 auto;
}

.navigationBar { 
    background-color: #8B219E ;
    min-height: 60px;
    height: auto;
    width: 100%;
    margin-bottom: 5px;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1110px;
}

.homepageLink {
    display: inline-block;
    float: left;
    width: 5%;
    height: 100%;
    margin-top: 3px;
}

.searchByCategories {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 60px;
    margin-top: 0;
    width: 20%;
    min-height: 60px;
}

#displayCategories {
    display: block;
    min-height: 60px;
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: #8B219E;
    border: none;
    font-size: 16pt;
    cursor: pointer;
    font-family: "Source Sans", sans-serif;
}

#displayCategories:hover {
    background-color: #5f94dc;
    color: #000000;
}

.categoriesList{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 222px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}

#categorySearch {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: #f9f9f9;
    min-width: 219px;
    font-size: 12pt;
    font-family: "Source Sans", sans-serif;
}

#categorySearch:hover {
    background-color: #5f94dc;
    color: #000000;
}

.searchByCategories:hover #displayCategories{
    background-color: #5f94dc;
    color: #000000;
}

.searchByCategories:hover .categoriesList {
    display: block;
}

.searchByText{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 53px;
    margin-top: 0.5px;
    width: 50%;
    min-height: 60px;
}

#searchTextbox {
    display: inline-block;
    float: left;
    margin: 12px 0 0 0;
    width: 80%;
    height: 30px;
    margin-top: 10px;
    font-size: 12pt;
    text-indent: 5pt;
    font-family: "Source Sans", sans-serif;
}

#searchBtn {
    display: inline-block;
    float: left;
    margin-top: -9.5px;
    margin-left: 5px;
    margin-right: 0;
    width: 9.5%;
    height: 40px;
    border: 1pt solid;
    padding:0;
    cursor: pointer;
}

.myProfile {
    display: inline-block;
    float: right;
    width: 7.5%;
    height: 100%;
    margin-left: 20px;
}

#myProfilebtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.profileMenu {
    display: none;
    position: absolute;
    padding-top: 10px;
    min-height: 100px;
    width: 350px;
    background-color: white;
    margin-left: -265px;
}

.profileMenu form {
    width: 350px;
}

.profileMenu legend {
    font-size: 12pt;
    background-color: white;
    font-family: "Source Sans", sans-serif;
}


.profileMenu label {
    font-size: 12pt;
    font-family: "Source Sans", sans-serif;
}

#userBox {
    margin-left: 10px;
    width: 200px;
    height: 20px;
    font-size: 11pt;
}

#passwordBox {
    margin-left: 13px;
    width: 201px;
    height: 20px;
    font-size: 11pt;
}

#loginError{
    color: red;
}

#loginBtn {
    cursor: pointer;
    background-color: gainsboro;
    font-family: "Source Sans", sans-serif;
    border-radius: 5px;
    border: 1pt solid gainsboro;
    height: 35px;
    width: 75px;
    margin-left: 65px;
    margin-right: auto;
    font-size: 11pt;
}

#register {
    cursor: pointer;
    background-color: gainsboro;
    font-family: "Source Sans", sans-serif;
    border-radius: 5px;
    border: 1pt solid gainsboro;
    height: 35px;
    width: 75px;
    margin-left: 40px;
    margin-right: auto;
    font-size: 11pt;
}

#logoutForm{
    width: 348px;
    border: 1pt solid gainsboro;
}

#logoutBtn {
    margin: 10px auto 10px 137px;
    cursor: pointer;
    background-color: gainsboro;
    font-family: "Source Sans", sans-serif;
    border-radius: 5px;
    border: 1pt solid gainsboro;
    height: 35px;
    width: 75px;
    font-size: 11pt;
}

.profileMenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.1);
    font-family: "Source Sans", sans-serif;
}

.profileMenu a:hover {
    background-color: #5f94dc;
    color: #000000;
}

.myProfile:hover .profileMenu {
    display: block;
}







