/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Nov 2020, 18:25:52
    Author     : joel
*/

header {
    background-color: #270A5E; /* Background color of th erectangle */
    width: 98%; /* Rectangle width - 98% to respect footer margins */
    height: 200px; /* Rectangle height - per points more accurate height */
    border: 5px solid #8B219E;
    /* center the header */
    margin-right: auto;
    margin-left: auto;
}

/* Format the paragraph inside of the header */
header img {
    float: left;
    width: 15%;
    max-height: 190px;
    margin-left: 35px; /* margin with left of the header screen */
    margin-bottom: 6px; /* margin with the title inside of the header */
    margin-top: 5px; /* margin with the top of the header rectangle */
}

/* Format the title inside of the header -- it is relate to the format of the paragraph above*/
header h1 {
    float: left;
    color: #FAFAFA; /* Color of the text */
    font-size: 30pt; /* Size of the font */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
    text-align: left; /* Where is the text found */
    margin-top: 130px; /* margin with the paragraph on top inside the header */
    margin-left: 35px; /* margin with left of the header screen */
}

h1{
    margin-left: 10pt;
    font-size: 24pt; /* Size of the font */
    text-align: left; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
}

.category {
    clear: both;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5pt;
    max-width: 95%;
    min-height: 180px;
    border: 1pt solid;
}

.category h1 {
    margin-left: 40pt;
    font-size: 16pt; /* Size of the font */
    text-align: left; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
}

.categoryDescription {
    display: block;
    float: left;
    width: 75%;
    height: 75pt;
    border: 1pt solid;
    margin-top: 5pt;
    margin-left: 30pt;
}

.categoryDescription p {
    font-size: 12pt; /* Size of the font */
    text-align: left; /* Where is the text found */
    font-family: 'Source Sans Pro Black', sans-serif;  /* Type of font - it has been declared in html file */
    line-height: 1.5;
    margin-bottom: 1.5pt;
    margin-left: 15pt;
}

.ticketQuantity {
    float: right; /*Locate the section on the left*/
    width: 17%; /*Stablish the section to 50% of footer width*/
    height: 75pt; /*Stablish heigth to 100% of footer window*/
    border: 1pt solid;
    margin-top: 5pt;
    margin-right: 30pt;
}

#ticketNr {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    font-size: 14pt;
    font-family: "Source Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
    margin-top: 23px;
}

#paymentBtn{
    display: block;
    float: left;
    font-size: 12px;
    font-family: "Source Sans", sans-serif;
    font-weight: bold;
    background-color: white;
    border: 1pt solid;
    border-radius: 10px;
    padding: 15px;
/*    margin: 4px 2px;*/
    cursor: pointer;
    margin-left: 10px;
    margin-top: 27px;
}
